.text {
  padding-left: 60;
  padding-right: 60;
}
.title {
  font-size: 28;
  color: #434343;
  margin-top: 20;
  font-weight: bold;
}
.content {
  font-size: 24;
  color: #434343;
}
.date{
  font-size: 24;
  color: #8e8e93;
}