.app {
  flex: 1;
  justify-content: center;
  align-items: center;
}


.contaner {
  flex: 1;
  background-color: '#efeff4';
  padding: 40 0 40 0;
}

.item {
  height: 160;
  background-color: '#efeff4';
  padding: 0 60 0 60;
  border-top: 10 solid '#ccccff';
}

.title {
  font-size: 28;
  color: '#434343';
}

.time {
  font-size: 24;
  color: '#8e8e93';
}
